<% Rails.logger.debug("=== in #{__FILE__}") %>
<h1>Editing Toy</h1>

<%= render :partial => 'list', :locals => {:toys => @toys,
                                           :selected => @toy,
                                           :selected_partial => 'form'} %>
